<%- include('./header.ejs'); %>

    <div id="login-container">
        <div id="left-column"></div>
        <div id="branding">
            <img src="./images/logo.png" />
            <h1>Sign up - Chatfinity</h1>
        </div>
        <div id="login-form">
            <form method="post" action="/signup" enctype="multipart/form-data" id="add-user-form">
                <input type="text" placeholder="enter name" name="name" />
                <p class="error name-error"></p>
                <input type="text" placeholder="enter email" name="email" />
                <p class="error email-error"></p>
                <input type="password" placeholder="enter password" name="password" />
                <p class="error password-error"></p>
                <input type="password" placeholder="confirm password" name="confirmPassword" />
                <p class="error confirmPassword-error"></p>
                <input type="file" name="avatar" required />
                <p class="error avatar-error"></p>

                <p class="error common-error"></p>

                <input type="submit" value="Sign up" />
            </form>
            <div id="login-down-area">
                <p>Have an account?</p>
                <p><a class="btn" href="/">Login</a></p>
            </div>
        </div>
    </div>
    <script>
        const form = document.querySelector("#add-user-form");

        const successToast = Toastify({
            text: "Your account created successfully! Reloading the list...",
            duration: 3000,
        });

        form.onsubmit = async function (event) {
            event.preventDefault();

            const errorPlaceholders = document.querySelectorAll("p.error");
            for (let i = 0; i < errorPlaceholders.length; i++) {
                errorPlaceholders[i].style.display = "none";
            }

            const inputErrors = document.querySelectorAll("input.error");
            if (inputErrors.length > 0) {
                for (let j = 0; j < inputErrors.length; j++) {
                    inputErrors[j].classList.remove("error");
                }
            }

            const formData = new FormData(form);
            let response = await fetch("/signup", {
                method: "POST",
                body: formData,
            });

            let result = await response.json();
            if (result.errors) {
                Object.keys(result.errors).forEach((fieldName) => {
                    form[fieldName].classList.add("error");
                    const errorPlaceholder = document.querySelector(`.${fieldName}-error`);
                    errorPlaceholder.textContent = result.errors[fieldName].msg;
                    errorPlaceholder.style.display = "block";
                });
            } else {
                successToast.showToast();
                document.querySelector("p.error").style.display = "none";
                setTimeout(() => {
                    location.reload();
                    location.replace("/");
                }, 3000);
            }
        }
    </script>